<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanbit.app.myandroid2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".global.MainActivity"
            android:label="메인 액티비티"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".member.Join"
            android:label="@string/title_activity_join"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".member.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".board.Board"
            android:label="@string/title_activity_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".board.Write"
            android:label="@string/title_activity_write"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".member.MemberProvider"
            android:authorities="com.hanbit.app.myandroid2.member.MemberProvider" />

        <activity
            android:name=".global.CRUDSample"
            android:label="@string/title_activity_crudsample"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".member.Member"
            android:label="@string/title_activity_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
